body {
	font-family: sans-serif;
	font-size: 1em;
	margin: 0;
}

* *:before, *:after {
	box-sizing: border-box;
}

header {
	padding: 2rem;
}

a {
	text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
